<div class="row">
	<div class="col-md-12">
		Udemy
		<br>
		<a href="https://www.udemy.com/certificate/UC-5ac2064d-fbcd-4eaf-a559-09bb9e09e615/">The Complete Ruby on Rails Developer Course</a>
		<br>

		<a href="https://www.udemy.com/certificate/UC-89fc19ee-a341-4daa-87ac-ea1957f3fa44/">Dissecting Ruby on Rails 5 - Become a Professional Developer</a>
		<br>

		<a href="https://www.udemy.com/certificate/UC-f34fab7e-4f4c-47dc-98d7-8fd5f37b8ab2/">Professional Rails Code Along</a>
		<br>

		<a href="https://www.udemy.com/certificate/UC-N7TBJZKM/">Learn to Code with Ruby</a>
		<br>

		<a href="https://www.udemy.com/certificate/UC-65bf39c3-60fb-4b3b-83d5-0233696bcb3a/">Creative CSS Animations, Transitions And Transforms Course</a>
		<br>

		<a href="https://www.udemy.com/certificate/UC-DB4O72RN/">The Complete Python Developer Course</a>
		<br>

		<a href="https://www.udemy.com/certificate/UC-IS68CREH/">BASH Programming Course: Master the Linux Command Line!</a>
		<br>
		<br>
		Sololearn
		<br>
		<a href="https://www.sololearn.com/Certificate/1081-7270906/pdf/">Ruby Tutorial</a>
		<br>

		<a href="https://www.sololearn.com/Certificate/1060-7270906/pdf/">SQL Fundamentals</a>
		<br>
		<br>

		<a href="https://www.ruby2d.com">Games w/ Ruby2D library</a>
		<a href="http://www.ruby2d.com/showcase/">Showcase</a>
		<br>
		<p><a href="https://youtu.be/8s--ZyTmFxU?t=3644">RubyConf 2018 - Lightning Talks</a></p>
		<br>
	</div>
</div>
