<div class="info">
	<div class="email">
		<img src="assets/mail.svg" class="icon24">
		<strong>Email:</strong> <a href="mailto:souravgoswami@protonmail.com">souravgoswami@protonmail.com</a>
		<div class="padding"><a href="mailto:sg97@protonmail.com">sg97@protonmail.com</a></div>
	</div>

	<div class="phone pt-2">
		<img src="assets/phone-call.svg" class="icon24">
		<strong>Phone:</strong> <a href="tel:+918335830664">(+91) 8335-830664</a>
	</div>

	<div class="address pt-2">
		<img src="assets/house.svg" class="icon24">
		<strong>Address:</strong> <a href="https://goo.gl/maps/NwppMZSm8ECp5k32A">13 Nandan Nagar, Belgharia, Kolkata 700083</a>

	</div>

	<div class="linkedin pt-2">
		<img src="assets/linkedin.svg" class="icon24">
		<strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/sourav-goswami0/">https://www.linkedin.com/in/sourav-goswami0/</a>
	</div>
</div>
