		All the projects I have worked on so far is open source and unencumbered.
		The intention is to contribute to the open source community.
		Many people find it complex to integrate multiple licences.
		So most of my programs were GNU GPL licence, and the recent ones are under
		MIT licence. That makes other developers who use my library happy!

		Here are some of the projects I did in the past:
		<br>
		<br>

		<div class="github">
			<h5>
				<a class="gradient" href="https://github.com/Souravgoswami">Github</a>
			</h5>
			<a href="https://github.com/Souravgoswami">Github - Sourav Goswami</a>
		</div>
		<br>

		<div class="github">
			<h5>
				<a class="gradient" href="https://github.com/Souravgoswami/linux_stat">LinuxStat</a>
			</h5>

			A full-fledged Ruby library (gem) for system monitoring, handcrafted for Linux with some extraordinary features, like USB detection and analysis, thermal statistics, CPU usage, swap monitoring, primary and secondary memory statistics, battery stats, OS-specific details, like processes as well as network statistics, etc. It is even capable of displaying some of the low-level kinds of stuff like BIOS and kernel details. The main motivation for building this is due to the lack of such a one-stop solution library in Ruby, which causes a lot of 'extra efforts' on the developers' part. Linux stat promises to solve this problem straightforwardly.
			<br>
			<a href="https://github.com/Souravgoswami/linux_stat">Souravgoswami/linux_stat: Linux only, efficient linux system utilization reporting and system monitoring gem</a>
		</div>
		<br>

		<div class="github">
			<h5>
				<a class="gradient" href="https://github.com/Souravgoswami/cowspeak">Colourful TUI Program - Cowspeak</a>
			</h5>

			Need some relaxation and quotes (fortunes) when you open the terminal?
			Introducing Cowspeak, originally inspired from 'Cowsay' written in Perl, a fun,
			minimalistic terminal-based ruby program, which can display all the required
			system information you ask for, in a very colorful way,
			with an ASCII animal, that will display motivational quotes or funny comments, randomly.
			Cowspeak is a tool that also speaks 'Why So Serious?' on the mouth of other serious system monitoring tools.
			Right, it can also show various system information with the -w option, helpful for SSH users.
			But, don't underestimate this fun tool! It can display information ranging from complex networks, OS, processes, memory to simple things like the battery information.
			This makes your terminal look cool while making you aware of your computer's insides.
			It will also welcome you with funny fortune predictions, every time you open your terminal and make you laugh out loud!
			<br>
			<a href="https://github.com/Souravgoswami/cowspeak">Souravgoswami/cowspeak: let animals talk on your terminal</a>
			<br>
			<a href="https://aur.archlinux.org/packages/cowspeak/">AUR (en) - cowspeak</a>
		</div>
		<br>

		<div class="github">
			<h5>
				<a class="gradient" href="https://github.com/Souravgoswami/term-clock">TermClock</a>
			</h5>

			Developers spend a lot of time in the pitch black terminal, and sometimes they crave some visual aesthetics, which will be useful as well. Combine usefulness with beauty and you get 'term clock', which stands for 'terminal clock'. It is a beautiful rainbow gradient colored digital clock with several high-level system information like realtime CPU usage, battery information, username, etc., which can run in the terminal itself, and you don't need to worry about closing the terminal and opening a heavyweight GUI app just to see a simple clock. You are just one command away from visually pleasing yourself without losing your productivity.
			<br>
			<a href="https://github.com/Souravgoswami/term-clock">Souravgoswami/term-clock: A configurable colourful terminal clock</a>
		</div>
		<br>

		<div class="cowspeak">
			<h5>
				<a class="gradient" href="https://github.com/Souravgoswami/oreo-cursors">Ruby + Cursor</a>
			</h5>

			Tired of the simple black or white arrow mouse cursor?
			But wait! There's a saying that in Linux almost everything can be changed.
			So why not change the cursor itself?
			Here comes 'Oreo Cursors', built-in Ruby with love, developed primarily by Alexey Varfolomeev,
			who is also the very well known Papirus theme creator.
			We worked together later and added Ruby that will generate
			any given coloured cursors for you! It's primarily done with Ruby, and reads a config file with lots
			of options like size, border, foreground and background colours, shadows and generate a cursor
			just like you had dreamt of.
			Add, modify or remove, borders, shadows, colors, and anything you could imagine of, and generate your very own, beautiful and pleasing mouse cursor, which well keep you excited even in your boredom
			<br>
			<a href="https://github.com/Souravgoswami/oreo-cursors">Souravgoswami/oreo-cursors: oreo-cursors</a>
			<br>
		</div>
		<br>

		<div class="cowspeak">
			<h5>
				<a class="gradient" href="https://github.com/Souravgoswami/rails_pi">Pi Calculator</a>
			</h5>

			Pi Calculator helps you calculate n digits of Pi! Although it's not that easy for a computer
			to calculate Pi, I have used the GMP BigNum library in C to create a Rubygem, and
			added it to the Pi Calculator. No, it doesn't use Ruby's <code>BigMath.PI(n)</code>.

			<br>
			Pi Calculator is primarily focused on benchmarking servers! I have hosted that on heroku,
			along with a path <code><a href="https://picalculator.herokuapp.com/system_stats">/system_stats</a></code>,
			which was again done by my <a href="https://rubygems.org/gems/linux_stat">LinuxStat</a>
			Ruby gem. This page is based on AJAX calls.

			<br>
			<a href="https://github.com/Souravgoswami/rails_pi">Souravgoswami/rails_pi: Server side pi calculation in Ruby on Rails</a>
			<br>
			<a href="https://picalculator.herokuapp.com/system_stats">Pi Calculator</a> (heroku)

			<br>
		</div>
		<br>

		<div class="theme">
			<h5>
				<a class="gradient" href="https://www.gnome-look.org/p/1276216/">XFCE Colour (CSS)</a>
			</h5>

			Due to the lightweight nature of the XFCE desktop environment, developers and video
			or graphics editors opt for it. But, it comes with a very minimalistic UI. So, I decided
			to make a theme, which an extended mod of project 'Vimix', called XFCE Colour,
			with nothing but CSS alone which is great visually pleasing!
			I created two different versions of it. A light theme for white lovers and a dark
			theme for those who love the night! It is super optimized and thus,
			won't affect the performance of the system at all!
			<br>
			<p><a href="https://www.gnome-look.org/p/1276216/">XFCE Colour - Gnome-look.org</a><p>
		</div>

		<br>
